* {
    font-family: monospace;
}

html, body {
    background: #ecf0f1;
    width: 100%; height: 100%;
    padding: 0; margin: 0;
}

.btn {
    border: none; padding: 10px;
    cursor: pointer;
}

.btn.btn-primary {
    background: #2ecc71;
    color: #FFF;
    font-weight: bold;
}

.control-panel {
    padding: 10px 10px 0 10px;
}

.widgets-list {
    margin: 10px;
}

.widget-item {
    background: #FAFAFA;
    position: relative;
}

.widget-item .btn-remove {
    position: absolute;
    width: 20px; height: 20px;
    display: block;
    background: #EEE; color: #FFF;
    top: 5px; right: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center; line-height: 20px;
    font-size: 14px; padding: 2px;
    z-index: 9999;
}

.widget-item .btn-remove:hover {
    background: #DDD;
}

bar-chart, groupped-bar-chart {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
}

svg {
    cursor: default;
}

.highlight {
    stroke: #000;
    fill: #000;
}

.bar.highlight {
    stroke-width: 1px;
    fill-opacity: 0.5;
}
